@charset "utf-8";
/* CSS Document */

body{
	margin: 0px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	min-width: 1000px;
	color: #FFC;
}
header{
	margin:auto;
	padding:10px;
	font-size:30px;
	width:500px;
	text-align:center;
	margin-top:20px;
}
section{
	margin-top:20px;	
}
section table tr td input{
	width:80%;
	height:35px;
	outline:none;
	font-size:15px;
}
#encargado {
	width:80%;
	}
#nnota {
	width:80%;
	}	
.registros{
	margin:auto;
	width:600px;
	margin-top:20px;
	border:1px solid #6F96DF;
	height:auto;
	padding:10px;
}


.bien{
	background-color:#3CBE34;
	text-align:center;
	font-size:14px;
	color:#FFF;
	padding:5px;
}
.container-fluid .row.lad1 .panel.panel-info.col-md-6 {
	padding-top: 24px;
	border-top-color: #FFF;
	border-right-color: #FFF;
	border-bottom-color: #FFF;
	border-left-color: #FFF;
}
.container-fluid .row.arriba header {
	background-color: #06F;
	color: #FFF;
	display: block;
}
.container-fluid .row.medio .col-md-4.exit {
	color: #c90;
	background-color: #C90;
}

.container-fluid .row.medio .fecha {
	background-color: #FC3;
	height: 50px;
	padding-top: 15px;
}
.row.bajo {
	color: #fc3;
	background-color: #fc3;
	height: 50px;
}
